* body {
  background-color: black;
  color: aliceblue;
}
.container {
  display: inline;
  max-width: 750px;
  color: white;
  text-align: center;
}
h1 {
  font-family: "Rock Salt", cursive;
}
p {
  margin: 25px;
}
.github_button_icon {
  margin-top: 10px;
  margin-right: 10px;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.github_button_icon:hover {
  transform: scale(1.3);
  transition: 0.4s;
  color: rgb(89, 42, 165);
}
